body{ 
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(back.jpg);
    font-family: 'Zen Tokyo Zoo', cursive;
}
.left{
    display: inline-block;
    /* border: 3px solid red; */
    position: absolute;
    left: 30px;
    top: 15px;
}
.left img{
    margin: 5px -38px;
    width: 110px;
    
}
.mid{
    display: block;
    width: 55%;
    margin: 24px 78px;
    /* border: 3px solid green; */
    float: none;
}
.right{
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 24px;
    /* border: 3px solid yellow; */
}

.navbar{
    display: inline-block;
}

.navbar li{
    display:inline-block;
}

.navbar li a{
    text-decoration: none;
    color:white ; 
    padding: 23px 20px;  
}
.navbar li a:active{
    text-decoration: underline;
    color: grey;
}
.navbar li a:hover{
    color: burlywood;
}

.btn{
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    padding: 5px 25px;
    cursor: pointer;
    border: 10px solod black;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Zen Tokyo Zoo', cursive;


    
}
.btn:hover{
    background-color: skyblue;
}

#search{
    margin-left: 12px;
    border: 3px solid black;
    border-radius: 5px;
    height: 20px;

}

.contaner{
    display: inline-block;
    /* border: 3px solid red; */
    margin-left: 302px;
    margin-top: 50px;
    width: 757px;
    text-align: center;
}
#imgs{
    width: 120px;
}
.name{
     margin: 8px;
     padding-right: 87px;
    
}
.para{
    font-size: 20px;
}
ul .btn{
    margin-left: 10px;
}

/* .btn1{
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    padding: 5px 25px;
    margin:  -887px 1012px;
    cursor: pointer;
    border: 10px solod black;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Zen Tokyo Zoo', cursive;
    /* text-decoration: none; 
}
.btn1:hover{
    background-color: skyblue;
} */